
body{
    font-family: 'Poppins', sans-serif;
}

.App{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.search-form{
    margin-bottom: 40px;
}

.serach-form label{
    font-weight: bold;
}

#search{
    padding: 10px 30px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#search-input{
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}


.main-section{
    margin-top: 200px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly-data-section{
    text-align: center;
}

.hourly-data-cards {
    display: flex;
    justify-content: space-between;
    margin: 35px;
    padding: 20px 60px;
    width: 400px;
    text-align: center;
    border: solid black 1px;
    border-radius: 35px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hourly-img{
    width: 100px;
    height: auto;
}

.hourly-time{
    display: flex;
    align-items: center;
}

.hourly-temps{
    display: flex;
    flex-direction: column;
    justify-content: center;
}